@font-face {
  font-family: "main.woff2";
  src: url("../fonts/Acknowledge.woff2");
}

body {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__language {
  width: 100px;
  margin-left: 10px;
  margin-top: 3px;
}

.header__language--size {
  width: 62px;
  height: 50px;
  cursor: pointer;
}

.header__toggle {
  width: 45px;
  height: 45px;
}

.header__toggle--size {
  width: 45px;
  height: 45px;
  margin-left: -10px;
  cursor: pointer;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-container__content--name {
  font-family: "main.woff2";
  color: #fff;
  font-size: 115px;
  margin: 0;
  text-transform: uppercase;
}

.main-container__content--engine {
  color: #fff;
  font-family: "main.woff2";
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  word-spacing: -12px;
}

.main-container__content--play {
  position: relative;
  top: 30px;
  background: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: 3px solid #fff;
  font-family: "main.woff2";
  width: 140px;
  height: 40px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
  cursor: pointer;
}

.main-container__content--play-text {
  position: static;
}

.main-container__content--play:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

.main-container__content--play a,
.main-container__content--play a:visited,
.main-container__content--play a:focus {
  text-decoration: none;
  color: #fff;
  height: 23px;
  width: 160px;
}

.information {
  width: 250px;
  height: 380px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 3px #000;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "main.woff2";
  text-transform: uppercase;
  -webkit-animation-name: toggle;
  animation-name: toggle;
  -webkit-animation-duration: 1s;
  animation-duration: .5s;
}

.information__container {
  margin-bottom: 45px;
  padding: 0 15px;
}

.information__name {
  font-size: 26px;
  margin-top: 45px;
}

.information__autors {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 24px;
}

.information__autors--link {
  cursor: pointer;
}

.information__autors--link a,
.information__autors--link a:visited,
.information__autors--link a:focus {
  text-decoration: none;
  color: #000;
}

.information__autors--link:hover {
  border-bottom: 2px solid #000;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 420px) {
  .main-container__content--name {
    font-size: 140px;
  }
  .main-container__content--engine {
    font-size: 30px;
  }
  .main-container__content--play {
    width: 170px;
    height: 40px;
    font-size: 26px;
    top: 30px;
  }
  .main-container__content--play a,
  .main-container__content--play a:visited,
  .main-container__content--play a:focus {
    height: 25px;
  }
  .information {
    width: 350px;
  }
  .information__container {
    margin-top: 5px;
  }
  .information__name {
    margin-top: 55px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 25px;
    height: 90px;
  }
}

@media (min-width: 550px) {
  .main-container__content--name {
    font-size: 155px;
  }
  .main-container__content--engine {
    font-size: 33px;
  }
  .main-container__content--play {
    width: 170px;
    height: 45px;
    font-size: 26px;
    top: 50px;
  }
  .information {
    width: 480px;
  }
  .information__container {
    margin-top: 10px;
  }
  .information__name {
    margin-top: 55px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 26px;
  }
}

@media (min-width: 720px) {
  .main-container__content--name {
    font-size: 172px;
  }
  .main-container__content--engine {
    font-size: 36px;
  }
  .main-container__content--play {
    width: 175px;
    height: 50px;
    font-size: 27px;
    top: 50px;
  }
  .main-container__content--play a,
  .main-container__content--play a:visited,
  .main-container__content--play a:focus {
    height: 29px;
  }
  .information {
    width: 480px;
  }
  .information__container {
    margin-top: 10px;
  }
  .information__name {
    margin-top: 50px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 26px;
  }
}

@media (min-width: 1150px) {
  .main-container__content--name {
    font-size: 322px;
  }
  .main-container__content--engine {
    font-size: 62px;
  }
  .main-container__content--play {
    width: 215px;
    height: 65px;
    font-size: 36px;
    top: 50px;
  }
  .main-container__content--play-text {
    position: relative;
    bottom: 3px;
  }
  .header__language {
    margin-left: 30px;
  }
  .header__toggle--size {
    margin-left: -30px;
  }
  .information {
    width: 500px;
  }
  .information__container {
    margin-bottom: 60px;
  }
  .information__name {
    font-size: 35px;
    margin-top: 65px;
  }
  .information__autors {
    font-size: 30px;
  }
}

@media (min-width: 1400px) {
  .header {
    height: 120px;
  }
  .header__language--size {
    width: 110px;
    height: 98px;
  }
  .header__toggle {
    width: 72px;
    height: 72px;
  }
  .header__toggle--size {
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 1920px) {
  .main-container__content--name {
    font-size: 552px;
  }
  .main-container__content--engine {
    font-size: 106px;
  }
  .main-container__content--play {
    width: 405px;
    height: 95px;
    font-size: 56px;
    top: 50px;
  }
  .main-container__content--play-text {
    position: relative;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@-webkit-keyframes toggle {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes toggle {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */