@font-face {
  font-family: "main.woff2";
  src: url("../fonts/Acknowledge.woff2");
}

body {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: #fff;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: solid 1px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__language {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-container__content--name {
  font-family: "main.woff2";
  color: #fff;
  font-size: 115px;
  margin: 0;
  text-transform: uppercase;
}

.main-container__content--engine {
  color: #fff;
  font-family: "main.woff2";
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  word-spacing: -12px;
}

.main-container__content--play {
  position: relative;
  top: 30px;
  background: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: 3px solid #fff;
  font-family: "main.woff2";
  width: 140px;
  height: 40px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
  cursor: pointer;
}

.main-container__content--play:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

.information {
  width: 250px;
  height: 380px;
  background-color: #fff;
  border: solid 3px #000;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "main.woff2";
  text-transform: uppercase;
}

.information__container {
  margin-bottom: 10px;
}

.information__name {
  font-size: 27px;
  margin-bottom: 35px;
}

.information__autors {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 25px;
}

@media (min-width: 420px) {
  .main-container__content--name {
    font-size: 140px;
  }
  .main-container__content--engine {
    font-size: 30px;
  }
  .main-container__content--play {
    width: 170px;
    height: 40px;
    font-size: 26px;
    top: 30px;
  }
  .information {
    width: 350px;
  }
  .information__container {
    margin-top: 5px;
  }
  .information__name {
    margin-top: 70px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 26px;
  }
}

@media (min-width: 550px) {
  .main-container__content--name {
    font-size: 155px;
  }
  .main-container__content--engine {
    font-size: 33px;
  }
  .main-container__content--play {
    width: 170px;
    height: 45px;
    font-size: 26px;
    top: 50px;
  }
  .information {
    width: 480px;
  }
  .information__container {
    margin-top: 5px;
  }
  .information__name {
    margin-top: 70px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 26px;
  }
}

@media (min-width: 720px) {
  .main-container__content--name {
    font-size: 172px;
  }
  .main-container__content--engine {
    font-size: 36px;
  }
  .main-container__content--play {
    width: 175px;
    height: 50px;
    font-size: 27px;
    top: 50px;
  }
  .information {
    width: 480px;
  }
  .information__container {
    margin-top: 5px;
  }
  .information__name {
    margin-top: 70px;
    font-size: 30px;
  }
  .information__autors {
    font-size: 26px;
  }
}

@media (min-width: 1366px) {
  .main-container__content--name {
    font-size: 292px;
  }
  .main-container__content--engine {
    font-size: 56px;
  }
  .main-container__content--play {
    width: 185px;
    height: 55px;
    font-size: 29px;
    top: 50px;
  }
  .information {
    width: 500px;
  }
  .information__container {
    margin-bottom: 60px;
  }
  .information__name {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .information__autors {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */