.information {
    width:250px;
    height:380px;
    background-color:$white;
    border:solid 3px #000;
    z-index:99;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family:"main.woff2";
    text-transform:uppercase;
    -webkit-animation-name: toggle;
    animation-name: toggle;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    &__container {
        width:100%;
        padding:20px;
        height:360px;
        bottom:60px;
        position:relative;
    }
    &__name {
        font-size: 30px;
        width:100%;
        text-align:center;
        padding:10px;
        position: relative;
        bottom:20px;
    }
    &__autors {
        width: 100%;
        text-align: center;
        font-size: 25px;
        margin-top:15px;
    }
}

.active {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}