.main-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height:80vh;
    width:100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &--name {
            font-family:"main.woff2";
            color:$white;
            font-size:115px;
            margin:0;
            text-transform: uppercase;
        }
        &--engine {
            color:$white;
            font-family:"main.woff2";
            margin:0;
            font-size: 24px;
            text-transform: uppercase;
            word-spacing: -12px;
        }
        &--play {
            position: relative;
            top:30px;
            background:none;
            text-transform: uppercase;
            color:$white;
            outline:none;
            border:3px solid $white;
            font-family:"main.woff2";
            width:140px;
            height:40px;
            font-size:22px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transition: -webkit-transform ease .3s;
            transition: -webkit-transform ease .3s;
            transition: transform ease .3s;
            transition: transform ease .3s, -webkit-transform ease .3s;
            cursor:pointer;
            &:hover {
                -webkit-transform:scale(1.2);
                transform:scale(1.1);
            }
        }
    }
}