@-webkit-keyframes toggle {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes toggle {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}