<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="alternate" hreflang="pl" href="outtrazd.github.io/PONG-CanvasGame/index.html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css" integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" crossorigin="anonymous">
    <title>PONG - Canvas Game</title>
</head>
<body>
    <header class="header">
        <div class="header__language">
            <a href="../index.html"><img class="header__language--size" src="../../img/lang-pl.png" alt="pl lang"></a>
        </div>
        <div class="header__toggle">
            <img class="header__toggle--size" src="../../img/toggle.png" alt="show/hide menu">
        </div>
    </header>

    <section class="information">
        <h3 class="information__name">Autors</h3>
        <div class="information__container">
            <div class="information__autors">Game programmed by
                <span class="information__autors--link">
                    <a href="https://websamuraj.pl" target="_blank">Samuraj Programowania</a>
                </span>
            </div>

            <div class="information__autors">Landing Page made by
                <span class="information__autors--link">
                    <a href="https://github.com/OuttraZd" target="_blank">OuttraZd</a>
                </span>
            </div>

            <div class="information__autors">Game code implemented by
                <span class="information__autors--link">
                    <a href="https://github.com/OuttraZd" target="_blank">OuttraZd</a>
                </span>
            </div>
        </div>
    </section>

    <section class="main-container">
        <div class="main-container__content">
            <h1 class="main-container__content--name">Pong</h1>
            <h2 class="main-container__content--engine">Canvas + JavaScript</h2>
                <button class="main-container__content--play">
                    <a href="../game/game.html">
                        <span class="main-container__content--play-text">Play</span>
                    </a>
                </button>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../scripts/toggle.js"></script>
</body>
</html>
